<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/global.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Lista de Tarefas</title>
  </head>
  <body>
    <div id="app" class="app">
      <div class="list">
        <div class="create-task">
          <p>
            <span class="typing-effect">Criar Tarefas</span>
          </p>
          <input
            type="text"
            placeholder="Digite uma tarefa!"
            v-model="insertTask"
            v-on:keyup.enter="createTasks"
            focus
          />
          <fieldset>
            <legend>Urgência</legend>
            <div class="input-radio">
              <div>
                <input
                  type="radio"
                  name="urgency"
                  id="check-low"
                  value="check-low"
                  v-model="urgency"
                />
                <label for="check-low" id="low">Baixa</label>
              </div>
              <div>
                <input
                  type="radio"
                  name="urgency"
                  id="check-average"
                  value="check-average"
                  v-model="urgency"
                />
                <label for="check-average" id="average">Média</label>
              </div>
              <div>
                <input
                  type="radio"
                  name="urgency"
                  id="check-high"
                  value="check-high"
                  v-model="urgency"
                />
                <label for="check-high" id="high">Alto</label>
              </div>
            </div>
          </fieldset>
          <button v-on:click="createTasks()">Criar</button>
        </div>
        <ul v-for="(item, i) in listTasks" :key="i">
          <li :class="item.urgency">
            <label class="container">
              <input
                type="checkbox"
                :name="item.task"
                :id="item.id"
                v-on:change="actionTask"
                v-bind:checked="item.checked"
              />
              <div class="checkmark"></div>
              <div class="container-span">
                <span
                  :class="item.checked == true ? 'task-completed' : ''"
                  class="break-text"
                >
                  {{item.task}}
                </span>
              </div>
            </label>
            <div class="other-action">
              <button
                v-on:click="otherTask('remove', item.id)"
                v-bind:disabled="item.checked"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="js/javascript.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        insertTask: null,
        listTasks: [],
        urgency: "check-low",
      },
      methods: {
        createTasks() {
          if (!this.insertTask) return;
          let idRandom = Number(new Date().toISOString().replace(/\D/g, ""));

          let existingTask = this.listTasks.find(
            (item) => item.task == this.insertTask.toUpperCase()
          );
          if (existingTask) {
            // toastAlert("error", "Já existe uma tarefa da mesma em andamento!");
          } else {
            this.listTasks.unshift({
              id: idRandom,
              task: this.insertTask.toUpperCase(),
              urgency: this.urgency,
              checked: false,
            });
            this.insertTask = null;
            // toastAlert("success", "Tarefa criada com sucesso!");
          }
        },
        actionTask(item) {
          let updatedTask = this.listTasks.find(
            (element) => element.id == item.target.id
          );
          if (updatedTask) {
            updatedTask.checked = item.target.checked;
            if (item.target.checked) {
              // toastAlert("success", "Tarefa concluída com sucesso!");
            }
          }
        },
        otherTask(action, id) {
          if (action == "update") {
            let editTaks = this.listTasks.find((item) => item.id === id);
            if (editTaks) {
              this.insertTask = editTaks.task;
              editTaks.task = this.insertTask;
            }
          } else {
            const indice = this.listTasks.findIndex(
              (object) => object.id == id
            );
            this.listTasks.splice(indice, 1);
            // toastAlert("info", "Tarefa excluída com sucesso!");
          }
        },
      },
    });
  </script>
</html>
