@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}


:root {
    --text-primary: #818181;
}

body {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    height: 100vh;
}

.create-task {
  margin-top: 20px;
}

.title{
  margin-bottom: 10px;
}
.input-radio{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}


.container {
  display: flex;
}

li {
  display: flex;

}

.card {
  padding: 10px;
  margin: 5px;
}


.task-completed {
  font-style: italic;
  text-decoration: line-through;
  color: var(--text-primary);
  font-weight: 600;
}

.break-text{
  margin-left: 10px;
}

.box {
  padding: 5px !important;
}

.check-high {
  background-color: #ffa7a7 !important;
}
.check-average {
  background-color: #fdc17c !important;
}
.check-low {
  background-color: #b4f5a0 !important;
}